.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: rgb(197, 48, 48);
}

.dialogItem {
    color: rgb(0, 38, 255);
    padding: 5px;
}

.messages {
    padding: 10px;
}

.messages .message{
    color: rgb(48, 28, 73);
}